*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:grey;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #ff4757;
}
.nav{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.box{
    color:white;
    width: 30px;
    height: 30px;
    text-align: center;
    
}
.cart-count{
    position: absolute;
    background-color: rgb(98, 98, 99);
    top:5px;
    right: 0px;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}
#cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
}
img{
    width: 100%;
}
.container{
    max-width: 1200px;
    padding: 4rem;
    width: 100%;
}
h2.title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #ffffff;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:1.5rem;
    justify-content: center;
    align-content: center;
}
.food-box{
    position: relative;
    background-color: #ffff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.4);
    border-radius: 3px;
    
}

.pic {
    overflow: hidden;
}

.pic:hover img{
    transform: scale(1.5);
}
.food-image{
    
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.food-title{
    font-size: 1rem;
    font-weight: 600;
    color: #f53311;
    padding-bottom: 5px;
}
.food-price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ed573;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}
.add-cart:hover{
    background-color: rgba(255, 0, 0, 786);
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 40px rgba(54, 53, 53, 0.726);
    z-index: 100;
}
.cart-active{
    right: 0;
    transition: 0.5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(15, 15, 15, 0.4);
    padding-bottom: 10px;

}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(30, 30, 30, 0.537);
    padding-bottom: 10px;
}
.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid rgb(199, 197, 197);
    padding: 5px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.price-box{
    display: flex;
    justify-content:space-between;
    
}
.cart-food-title{
    font-size: 1rem;
    text-transform: uppercase;
    color:#f93546;
    font-weight: 500;
}

.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid rgba(40, 37, 37, 0.4);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1re;
}
.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}
.total{
 display: flex;
 justify-content: flex-end;
 margin-top: 1.5rem;

}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 1rem;
    

}
.btn-buy{
    padding: 12px 20px;
    background-color: #2f3542;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: #ff4757;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;


}
